@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap');



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Mulish', sans-serif;
    
    background:#fff;
}
header, main{
    width: 85%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}
img{
    width: 100px;
}

/* Share Section */

.title-text{
    color: #131318;
    font-size: 2.4rem;
    font-weight: 800;
}
.primary-text{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
.secondary-text{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.btn-primary{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    padding: 10px 25px;
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
    border: none;
}
.btn-secondary{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    padding: 5px 15px;
    font-weight: 600;
    border-radius: 5px;
    background: #FF5400;
    border: none; 
}





/* Header Section */
.header{
    margin-top: 3.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left,
.footer-logo{
    display: flex;
   align-items: center;
}
.header-left img,
.footer-logo img{
    margin-right: 15px;
}
.header-left h2,
.footer-logo h2{
    font-size: 2rem;
    font-weight: 800;
    color: #131318;
}
.header-left h2 span,
.footer-logo h2 span{
    color: #FF5400;
}
.header-right{}
.header-right ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.header-right ul li{
    margin-left: 2rem;
}
.header-right ul li a{
    font-size: 18px;
    font-weight: 800;
    color: #424247;
}
.header-right ul li a:hover{
    color: #FF5400;
}

.header-bar{
    display: none;
}
.header-bar i{
    color:#424247;
    font-size: 25px;
}




/* Explore Section */
.explore{
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin-top: 60px;
    
}
.explore-overlay{
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.1) 100%);
    padding: 100px 0;
}
.explore-title{
    width: 60%;
    margin: 0 auto;
   
}
.explore-title h1{
    font-size: 4rem;
    color: #fff;
    font-weight: 800;
    text-align: center;
}
.explore-title p{
    font-size: 1rem;
    color: #fff;
    font-weight: 400px;
    padding: 22px 5px;
    text-align: center;
}
.explore-button{
    width: 65%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.buttone-1{
    width: 25%;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
}

.buttone-1 button{
    color: rgba(19, 19, 24, 0.50);
    font-size: 15px;
    text-align: left;
    font-weight: 400;
    border: none;
}
.buttone-2{
    display: flex;
    justify-content: space-between;
    width: 25%;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
}
.buttone-2 button{   
    color: rgba(19, 19, 24, 0.50);
    font-size: 15px;
    text-align: left;
    font-weight: 400;
    border: none;
}

.buttone-3{
    display: flex;
    justify-content: space-between;
    width: 25%;
    background: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    background: #FF5400;
}
.buttone-3 button{
    color:#fff;
    font-size: 15px;
    text-align: left;
    font-weight: 400;
    border: none;
    background-color: transparent;
}
.buttone-3 i{
    color:#fff;
    font-size: 20px;
}




/* Our Section */
.our{
    margin: 100px 0 ;
    display: flex;
    justify-content: space-between;
}
.our-left{
    width: 46%;
}
.our-left-title{}
.our-left-list{
    padding: 10px 0 10px 20px;
}
.our, .primary-text{
    padding: 10px 0;
}
.our-left-list ul{

}
.our-right{
    width: 46%;
}
.our-right img{
    width: 100%;
    height: 100%;
}
.our button{
    margin-top: 20px;
}



/* Choose Section */
.choose{
    margin: 100px 0;
}
.choose-title{
    text-align: center;
    width: 65%;
    margin: 25px auto;
}
.choose-gallery{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
   
}
.choose-img-1{
    width: 48%;
    position: relative;
}
.choose-img-2{
    width: 48%;
    position: relative;
}
.choose-img-3{
    width: 29%;
    position: relative;
}
.choose-img-4{
    width: 42%;
    position: relative;
}
.choose-img-5{
    width: 24%;
    position: relative;
}
.choose-img-6{
    width: 40%;
    position: relative;
}
.choose-img-7{
    width: 57%;
    position: relative;
}
.choose-gallery img{
    width: 100%;
    height: 100%;
    
}

.choose-img-1 h6, 
.choose-img-2 h6, 
.choose-img-3 h6, 
.choose-img-4 h6,
.choose-img-5 h6,
.choose-img-6 h6,
.choose-img-7 h6{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 24px;
    font-weight: 800;
}





/* Discover Section */
.discover{
    margin: 50px 0;
}
.discover-title{
    width: 60%;
    margin:25px auto;
    text-align: center;
}
.discover-site{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 25px;
}

.discover-site-1{
    padding: 10px 15px;
    box-shadow: 1px 0px 5px 2px rgb(133, 130, 130);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.discover-site-img{
    width: 40%;
}
.discover-site-img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.discover-site-text{
    width: 54%;
}
.discover-site-text h2{
    font-size: 1.5rem;
    color: #0e0e16;
    font-weight: 700;
    padding-bottom: 10px;
}
.discover-site-text p{

    padding-bottom: 5px;
}
.discover-button{
    padding-top: 1rem;
    display: flex;
    justify-content: flex-end;
}





/* Why Section */
.why{
    margin: 50px 0;
}
.why-title{
    width: 60%;
    margin: 25px auto;
    text-align: center;
}
.why-us{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}
.why-us-1{
    padding: 30px 45px 25px 25px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 48%;
}
.why-us-2{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 48%;
    padding: 30px 45px 25px 25px;
}
.why-us-3{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 48%;
    padding: 30px 45px 25px 25px;
}
.why-us-text h5{
    color: #131318;
    font-size: 1.4rem;
    font-weight: 800;
    padding: 25px 0 15px;
}
.why-us-text p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; 
    text-align: justify;
}




/* Simple Section */
.simple{
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.simple-left{
    width: 48%;
}
.simple-title{}
.simple-title h3{
    padding: 10px 0;
}
.simple-list{
    padding: 10px 0 10px 10px;
}
.simple-list ul li p{
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px; 
}
.simple-list p{}
.simple-video{
    width: 48%;
    position: relative;
    
}
.simple-video video{
    width: 100%;
    border-radius: 16px;
}
.simple-video-text{}

.simple-video-text h6{
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 25px;
}






/* News Section */
.news{
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
}
.news-section{
    width: 40%;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 30px 40px;
}
.news-title{}
.news-title h4{
    color: #131318;
    font-size: 1.4rem;
    font-weight: 800;
}
.news-title > p{
    border-bottom: 45px;
}
.news-form{
    width: 100%;
    margin-top: 30px;
}
.news-form input{
    width: 100%;
    margin: 8px 0;
    padding: 15px 20px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.1);
    outline: none;
    border: 0;
}
::placeholder{
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
}
.news-form input[type="submit"]{
    border-radius: 8px;
    background: #FF5400;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    margin-top: 22px;
}

.news-offer-section{
    width: 58%;
    position: relative;  
}
.news-offer-img{
    
}
.news-offer-img img{
    width: 100%;
    height: 100%;
}
.news-offer{
    position: absolute;
    bottom: 15%;
    left: 51%;
    transform: rotate(-25deg);
    width: 324px;
    border-radius: 1rem;
    background: #FF5400;
    padding: 20px 0;
}

.news-offer h6{
    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
}
.news-offer h2{
    color: #FFF;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;

}




/* Footer Section */
.footer{
    padding: 100px 0;
    background: rgba(19, 19, 24, 0.1);
    
}
.footer-logo-section{
   width: 40%;
   margin: 0 auto;
   display: flex;
   justify-content: center;
}
.footer-logo{
}
.footer-text{
    width: 60%;
    margin: 0 auto;
}
.footer-text p{
    text-align: center;
    padding: 15px 0;
}
.footer-social{
    padding: 15px;
    width: 30%;
    margin: 0 auto;

}
.footer-social ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.footer-social ul li{}
.footer-social ul li i{
    font-size: 25px;
    color: #131318;
    text-decoration: none;
}
.footer hr{
    width: 85%;
    margin: 40px auto;
    background: rgba(19, 19, 24, 0.9);
}
.footer-privacy{

}
.footer-privacy p{
    text-align: center;
    color: #131318;
    font-size: 16px;
}





























@media screen and (min-width:576px) and (max-width:992px) {
    
    /* Header Section */
    .header-bar{
        display: block;
    }
    .header-right ul{
        display: none;
    }




    /* Explore Section */
    .explore-title{
        width: 65%;
        margin: 0 auto;
       
    }
    .explore-title h1{
        font-size: 3.1rem;
    }
    .explore-title p{
        font-size: 1rem;
        padding: 22px 5px;

    }
    .explore-button{
        width: 65%;
        flex-wrap: wrap;
        gap: 10px;
    }
    .buttone-1, .buttone-2{
        width: 100%;

    }
    .buttone-3{
        width: 100%;
        justify-content: center;
        gap: 20px;
        align-items: center;
    }




    /* Our Section */
.our{
    flex-wrap: wrap;
    gap: 25px;
}
.our-left{
    width: 100%;
}

.our-right{
    width: 100%;
}


    /* Choose Section */
    .choose{
        margin: 100px 0;
    }
    .choose-title{
        width: 65%; 
    }
    .choose-gallery{
        flex-wrap: wrap;         
    }
    .choose-img-1{
        width: 100%;
    }
    .choose-img-2{
        width: 100%;
    }
    .choose-img-3{
        width: 100%;
    }
    .choose-img-4{
        width: 100%;
    }
    .choose-img-5{
        width: 100%;
    }
    .choose-img-6{
        width: 100%;
    }
    .choose-img-7{
        width: 100%;
    }



    /* Discover Section */
    .discover-title{
        width: 60%;
        margin:25px auto;
        text-align: center;
    }
    .discover-site{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
    }

    .discover-site-text h2{
        font-size: 1.5rem;
        color: #0e0e16;
        font-weight: 700;
        padding-bottom: 10px;
    }
    .discover-site-text p{

        padding-bottom: 5px;
    }
    .discover-button{
        display: flex;
        justify-content: flex-end;
        align-items: end;
    }



    /* Why Section */
    .why{
        margin: 50px 0;
    }
    .why-title{
        width: 60%;
    }
    .why-us{
        justify-content: center;
    }
    .why-us-1{
        width: 100%;
    }
    .why-us-2{
        width: 100%;
    }
    .why-us-3{
        width: 100%;
    }

    /* Simple Section */
    .simple{
        flex-wrap: wrap;
        gap: 30px;
    }
    .simple-left{
        width: 100%;
    }

    .simple-video{
    width: 100%;
        
    }
    .simple-video video{
        width: 100%;
        border-radius: 16px;
    }


    /* News Section */
    .news{
        flex-wrap: wrap;
        justify-content: center;
    }
    .news-section{
        width: 100%;
        margin-bottom: 25px;
    }
    .news-form{
        margin-top: 30px;
    }
    .news-form input{
        margin: 8px 0;
        padding: 15px 20px;
    }
    .news-form input[type="submit"]{
        margin-top: 22px;
    }

    .news-offer-section{
        width: 100%;
    
    }
    .news-offer{
        bottom: 15%;
        left: 51%;
        width: 324px;
        padding: 20px 0;
    }

    .news-offer h6{
        color: #FFF;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 400;
    }
    .news-offer h2{
        color: #FFF;
        text-align: center;
        font-size: 2rem;
        font-weight: 800;

    }



    .footer-logo-section{
        width: 60%;
     }









}








@media screen and (max-width:576px) {
    
    /* Header Section */
    .header-bar{
        display: block;
    }
    .header-right ul{
        display: none;
    }
    .header-left h2{
        font-size: 1.8rem;
    }




     /* Explore Section */
     .explore-title{
        width: 75%;
        margin: 0 auto;
       
    }
    .explore-title h1{
        font-size: 2.1rem;
    }
    .explore-title p{
        font-size: 1rem;
    }
    .explore-button{
        width: 80%;
        flex-wrap: wrap;
    }
    .buttone-1, .buttone-2{
        width: 100%;

    }
    .buttone-3{
        width: 100%;
        justify-content: center;
        gap: 20px;
        align-items: center;
    }


    
        /* Our Section */
    .our{
        flex-wrap: wrap;
        gap: 25px;
        margin: 50px 0;
    }
    .our-left{
        width: 100%;
    }

    .our-right{
        width: 100%;
    }
    .our-right img{
        width: 100%;
        height: 100%;
    }
    .our button{
        margin-top: 20px;
    }




    /* Choose Section */
    .choose{
        margin: 60px 0;
    }
    .choose-title{
        width: 80%; 
    }
    .choose-title h3{
        font-size: 1.6rem;
    }
    .choose-gallery{
        flex-wrap: wrap;         
    }
    .choose-img-1{
        width: 100%;
    }
    .choose-img-2{
        width: 100%;
    }
    .choose-img-3{
        width: 100%;
    }
    .choose-img-4{
        width: 100%;
    }
    .choose-img-5{
        width: 100%;
    }
    .choose-img-6{
        width: 100%;
    }
    .choose-img-7{
        width: 100%;
    }



        /* Why Section */
    .why{
        margin: 50px 0;
    }
    .why-title{
        width: 70%;
    }
    .why-title h3{
        font-size: 1.8rem;
    }
    .why-us{
        justify-content: center;
    }
    .why-us-1{
        width: 100%;
    }
    .why-us-2{
        width: 100%;
    }
    .why-us-3{
        width: 100%;
    }



     /* Simple Section */
     .simple{
        flex-wrap: wrap;
        gap: 30px;
    }
    .simple-left{
        width: 100%;
    }

    .simple-video{
    width: 100%;
        
    }
    .simple-video video{
        width: 100%;
        border-radius: 16px;
    }


        /* News Section */
        .news{
            margin: 100px 0;
            flex-wrap: wrap;
            justify-content: center;
        }
        .news-section{
            width: 100%;
            padding: 30px 40px;
            margin-bottom: 25px;
        }
        .news-form{
            width: 100%;
            margin-top: 30px;
            padding-left: 10px;
        }
        .news-form input{
            width: 100%;
            margin: 8px 0;
            padding: 15px 20px;
        }
        .news-form input[type="submit"]{
            margin-top: 22px;
        }
    
        .news-offer-section{
            width: 100%;
        
        }
        .news-offer{
            position: absolute;
            bottom: 16%;
            left: 45%;
            transform: rotate(-25deg);
            width: 250px;
            padding: 20px 0;
        }
    
        .news-offer h6{
            font-size: 1rem;
        }
        .news-offer h2{
            font-size: 1.4rem;   
        }




        .footer-logo-section{
            width: 90%;
         }


         .footer-social{
            width: 40%;
        }


         /* Discover Section */
    .discover-title{
        width: 80%;
        margin:25px auto;
        text-align: center;
    }
    .discover-site{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
    }

    .discover-site-text h2{
        font-size: 1.5rem;
        color: #0e0e16;
        font-weight: 700;
        padding-bottom: 10px;
    }
    .discover-site-text p{

        padding-bottom: 5px;
    }
    .discover-button{
        display: flex;
        justify-content: flex-end;
        align-items: end;
    }




}